.calendar{
    background-color: #eee;
    -moz-box-shadow: 0 0 5px #ccc;
    -webkit-box-shadow: 0 0 5px #ccc;
    box-shadow: 0 0 5px #ccc;
    font: normal 15px Helvetica Neue, Helvetica, Arial, sans-serif;
    min-width: 280px;
}
.calendar *{
    -moz-box-sizing: bordebox;
    -webkit-box-sizing: bordebox;
    box-sizing: bordebox;
    -moz-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.calendar .row{
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    justify-content: center;
}
.calendar .cell{
    background-color: #ffffff;
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    flex-grow: 1;
    flex-basis: 0;
    justify-content: center;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.calendar .head{
    flex-grow: 1;
    flex-basis: 0;
}
.calendar .prev,
.calendar .next{
    background-color: #ffffff;
    cursor: pointer;
    outline: none;
}
.calendar .prev:before,
.calendar .next:before{
    position: relative;
    top: 0;
    content: "";
    display: inline-block;
    width: 0.6em;
    height: 0.6em;
    border-top: 0.2em solid #222222;
    transform: rotate(-45deg);
}
.calendar .prev:before{
    border-left: 0.2em solid #222222;
    transform: rotate(-45deg);
    margin-left: 0.3em;
}
.calendar .prev:hover:before{
    border-left-color: #ffffff;
    border-top-color: #ffffff;
}
.calendar .next:before{
    border-right: 0.2em solid #222222;
    transform: rotate(45deg);
    margin-right: 0.3em;
}
.calendar .next:hover:before{
    border-right-color: #ffffff;
    border-top-color: #ffffff;
}
.calendar .prev:hover,
.calendar .next:hover{
    background-color: #0066CC;
}
.calendar .title{
    flex-grow: 5;
    flex-basis: max-content;
}
.calendar .weekdays{
    flex-grow: 1;
    flex-basis: 0;
}
.calendar .weekdays .cell{
    font-weight: bold;
}
.calendar .dates{
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 6;
    flex-basis: 0;
}
.calendar .dates.fix{
    flex-grow: 5;
}
.calendar .dates .row{
    flex-grow: 1;
}
.calendar .dates .cell{
    background-color: #aaa;
    border: solid 1px #ddd;
    color: #ffffff;
}
.calendar .cell.date{
    cursor: pointer;
    outline: none;
}
.calendar .cell.date:not(.past):hover{
    background-color: #FF0000;
    border: solid 1px #FF0000;
    color: #ffffff;
}
.calendar .cell.date.selected{
    background-color: #FF0000;
    border: solid 1px #FF0000;
    color: #fff;
}

.calendar{
    position: relative;
    width: 100%;
}
.calendar:after{
    content: "";
    display: block;
    padding-bottom: 100%;
}
.calendar .inner{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
}
